<template>
    <div class="main">
        <div class="container">
            <div class="row my-4">
                <div class="col-12">
                    <div class="md-form" v-click-outside="form_inactive" @click="form_active = true"
                         @keypress.enter="parse_link">
                        <input type="text" id="paste_link" class="form-control" :class="validate_class()" v-model.trim="paste_link">
                        <label for="paste_link" :class="{active: form_active || paste_link.length > 0}"
                               data-error="wrong" data-success="right">Degoos' Paste Link</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card col-12 text-left">
                    <div class="card-body">
                        <p>
                            <strong>What is this?</strong><br/>
                            This is the Timings Parser made specially for <em>WetSponge</em>.
                        </p>
                        <p>
                            <strong>How does it work?</strong><br/>
                            Make sure that you have your <em>WetSponge Timings</em> enabled. Rhey are disabled by
                            default, you can enable them temporary using <em>/wetsponge timings enable</em> or
                            permanetly changing the <em>WetSponge config file</em>.<br/>
                            Launch the <em>/wetsponge timings paste</em> command in your server and get the <em>http://paste.degoos.com</em>
                            link.<br/>
                            Copy and paste the link in the input above and press the <em>Enter Key</em>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Main',
        data() {
            return {
                form_active: false,
                paste_link: '',
                regex_exp: /https?:\/\/paste.degoos.com\/(.+)\.json$/g
            }
        },
        computed: {
            // a computed getter
            validate_link: function () {
                return this.regex_exp.test(this.paste_link);
            }
        },
        methods: {
            form_inactive() {
                this.form_active = false;
            },
            parse_link() {
                let paste_id = this.paste_link.replace(this.regex_exp, '$1');
                this.$router.push(`/paste/${paste_id}`)
            },
            validate_class() {
                return this.paste_link.length === 0 ? '' : this.validate_link ? 'valid' : 'invalid';
            }
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h3 {
        margin: 40px 0 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42B983;
    }

    .main {
        min-height: 400px;
    }

    .md-form input[type="text"] + label::after {
        top: 4.56rem !important;
    }
</style>
