<template>
    <div class="post pt-4">
        <div class="loading" v-if="loading">
            Loading...
        </div>

        <div v-if="error" class="error">
            {{ error }}
        </div>

        <div v-if="timing_info" class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-4 d-flex align-items-stretch">
                        <div class="card">
                            <div class="card-header text-muted">
                                <p class="mb-0"><strong>{{timing_info.server}}</strong></p>
                            </div>
                            <div class="card-body p-0">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item py-1"><strong>MOTD:</strong> {{timing_info.motd}}</li>
                                    <li class="list-group-item py-1"><strong>Online Mode:</strong>
                                        {{timing_info.online_mode}}
                                    </li>
                                    <li class="list-group-item py-1"><strong>Max Players:</strong>
                                        {{timing_info.max_players}}
                                    </li>
                                </ul>
                            </div>
                            <div class="card-footer text-muted">
                                <p class="mb-0">
                                    <small>{{timing_info.version}}</small>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4 d-flex align-items-stretch">
                        <div class="card">
                            <div class="card-header text-muted">
                                <p class="mb-0"><strong>System Info</strong></p>
                            </div>
                            <div class="card-body p-0">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item py-1"><strong>OS:</strong> {{timing_info.system.name}}
                                    </li>
                                    <li class="list-group-item py-1"><strong>JVM Version:</strong>
                                        {{timing_info.system.jvm_version}}
                                    </li>
                                    <li class="list-group-item py-1"><strong>Max Memory:</strong>
                                        {{timing_info.system.max_memory | prettyBytes}}
                                    </li>
                                    <li class="list-group-item py-1"><strong>CPU Cores:</strong>
                                        {{timing_info.system.cpu}}
                                    </li>
                                    <li class="list-group-item py-1"><strong>Runtime:</strong>
                                        {{timing_info.system.cpu}}
                                    </li>
                                </ul>
                            </div>
                            <div class="card-footer text-muted">
                                <p class="mb-0">
                                    <small>{{timing_info.system.flags}}</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row px-3">
                    <div class="nav flex-column nav-pills col-12 col-md-3" id="v-pills-tab" role="tablist"
                         aria-orientation="vertical">
                        <button type="button" class="btn btn-brown" :class="{active: show_tab === 'plugins'}"
                                id="nav-home-tab"
                                @click="show_tab='plugins'" aria-selected="true">Plugins
                        </button>
                        <button class="btn btn-brown" :class="{active: show_tab === 'timings'}" id="nav-profile-tab"
                                @click="show_tab='timings'" aria-selected="false">Timings
                        </button>
                    </div>

                    <div class="tab-content col text-left" id="v-pills-tabContent">
                        <div v-if="show_tab==='plugins'" v-once>
                            <div class="card-deck flex-column">
                                <div class="card mb-2">
                                    <div class="card-header">
                                        WetSponge Plugins
                                    </div>
                                    <div class="card-body">
                                        <div class="d-flex flex-wrap">
                                            <button type="button"
                                                    class="btn waves-effect btn-outline-blue-grey text-capitalize"
                                                    :key="plugin.name"
                                                    v-for="plugin in timing_info.plugins"
                                                    data-toggle="popover" data-placement="top"
                                                    :title="'<strong>' + plugin.name + ' (' + plugin.version + ')</strong>'"
                                                    :data-content="getPluginSting(plugin)">
                                                {{plugin.name}}
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="card-header">
                                        Server Plugins
                                    </div>
                                    <div class="card-body">
                                        <div class="d-flex flex-wrap">
                                            <button type="button"
                                                    class="btn waves-effect btn-outline-blue-grey text-capitalize"
                                                    :key="plugin.name"
                                                    v-for="plugin in timing_info.base_plugins"
                                                    data-toggle="popover" data-placement="top"
                                                    :title="'<strong>' + plugin.name + ' (' + plugin.version + ')</strong>'"
                                                    :data-content="getPluginSting(plugin)">
                                                {{plugin.name}}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-if="show_tab==='timings'" v-once>
                            <div class="card-deck flex-column" v-for="table of timing_info.timings">
                                <div class="card mb-2">
                                    <div class="card-header brown text-white">
                                        {{table.name}}
                                    </div>
                                    <div class="card-body p-0" role="tablist">
                                        <Timing :key="recorder.id" no-body class="m-0 rounded-0"
                                                v-for="(recorder, idx) of table.recorders"
                                                :main_id="table.name" :recorder="recorder" :timing_idx="idx" :depth="0">
                                        </Timing>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    import {PASTE_LINK} from '../constants';
    import Timing from "./Timing";

    export default {
        name: "Paste",
        components: {Timing},
        data() {
            return {
                loading: false,
                timing_info: null,
                error: null,
                show_tab: 'plugins',
            }
        },
        created() {
            // fetch the data when the view is created and the data is
            // already being observed
            this.fetchData()
        },
        watch: {
            // call again the method if the route changes
            '$route': 'fetchData'
        },
        updated() {
            this.popOver();
        },
        methods: {
            popOver() {
                $(function () {
                    $('[data-toggle="popover"]').popover({
                        trigger: 'focus',
                        html: true,
                    })
                });
            },
            getParsedString(...strings) {
                return strings.join('__').toLowerCase().replace(' ', '_');
            },
            getPluginSting(plugin) {
                let desc = plugin.description;
                let website = plugin.website;
                let authors = plugin.authors;


                let template = '<div class="plugin-content">';
                if (desc) template += `<div class="description mb-2"><em>${desc}</em></div>`;
                if (authors.length > 0) {
                    template += '<div class="authors"><strong>Authors:</strong>';
                    template += '<ul class="authors-list">';
                    for (let author of authors) {
                        template += `<li class="author">${author}</li>`
                    }
                    template += '</ul></div>';
                }
                if (website) template += `<div class="website text-right"><a href="${website}" target="_blank">WebSite</a></div>`;
                template += '</div>';

                return template;
            },
            fetchData() {
                this.error = this.timing_info = null;
                this.loading = true;
                // replace `getPost` with your data fetching util / API wrapper
                //todo: get data from hastebin
                console.log('params:', this.$route.params);
                if (!this.$route.params.id) {
                    this.loading = false;
                    this.error = 'You haven\'t specified any Degoos Paste ID.'
                } else {
                    this.$http.get(PASTE_LINK + this.$route.params.id).then(res => {
                        this.loading = false;
                        this.timing_info = res.body;
                        console.log('Paste Link Response >>', res);
                    }, res => {
                        this.loading = false;
                        this.error = 'Something weird has happened!';
                        console.log('Paste Link Error >>', res);
                    });
                }
            }
        }
    }
</script>

<style scoped>
    caption {
        caption-side: top;
    }

    .btn[data-toggle="popover"] {
        cursor: help !important;
    }
</style>