<template>
    <div :key="recorder.id || recorder.name" class="card m-0">
        <header class="card-header py-1 px-5 rounded-0" @click="toggleChildren()" :class="{pointer: recorder.timings}"
                :data-toggle="recorder.name ? 'timingpopover' : ''" data-placement="top"
                :title="'<strong>Information</strong>'"
                :data-content="getTimingString(recorder)"
        >
            <div class="circle-plus closed align-middle" :class="{opened: showChildren}" v-if="recorder.timings">
                <div class="circle">
                    <div class="horizontal brown"></div>
                    <div class="vertical brown"></div>
                </div>
            </div>

            {{recorder.id || recorder.name}}
            <div class="badges float-right align-middle">
                <span v-if="recorder.times" class="badge brown mr-1">{{recorder.times}}x</span>
                <span v-if="recorder.total_delay" class="badge brown">{{recorder.total_delay | nanoToMs}}</span>
            </div>
        </header>
        <transition name="slide-fade">
            <div class="card-body py-0 pr-0" v-if="showChildren">
                <Timing :key="timing.name" no-body class="m-0 rounded-0"
                        v-for="(timing, idx) of recorder.timings"
                        :main_id="main_id + '_' + (recorder.id || recorder.name)"
                        :recorder="timing"
                        :timing_idx="timing_idx + '_' + idx"
                        :depth="depth + 1">
                </Timing>
            </div>
        </transition>
    </div>
</template>

<script>
    export default {
        name: "Timing",
        props: ['main_id', 'recorder', 'timing_idx', 'depth'],
        data() {
            return {showChildren: false}
        },
        updated() {
            this.popOver();
        },
        methods: {
            popOver() {
                $(function () {
                    $('[data-toggle="timingpopover"]').popover({
                        trigger: 'hover',
                        html: true,
                    })
                });
            },
            getParsedString(...strings) {
                return strings.join('__').toLowerCase().replace(' ', '_');
            },
            toggleChildren() {
                this.showChildren = !this.showChildren;
            },
            getTimingString(timing) {
                let template = '<div class="timing-content">';

                if(timing.type === 'task') {
                    template += `<div class="syncinfo mb-1"><em>${timing.asynchronous ? 'Asynchronous' : 'Synchronous'} Task - <span class="text-capitalize">${timing.task_type}</span></em></div>`;
                    template += `<span class="timing mr-2"><strong>Delay:</strong> ${timing.delay}</span>`;
                    template += `<span class="interval"><strong>Interval:</strong> ${timing.interval}</span>`;
                    if(timing.times_to_execute !== -1) template += `<div class="caller"><strong>Times to Execute:</strong> ${timing.times_to_execute}</div>`;
                }
                if (timing.caller) template += `<div class="caller mt-2"><strong>Caller:</strong> ${timing.caller}</div>`;
                template += '</div>';

                return template;
            },
        }
    }
</script>

<style scoped>
    header.card-header.pointer {
        cursor: pointer;
    }

    .card-header:hover {
        background-color: #CACACA;
    }

    .slide-fade-enter-active {
        transition: all .3s ease;
    }

    .slide-fade-leave-active {
        transition: all .2s ease;
    }

    .slide-fade-enter {
        transform: translateY(-50px);
        opacity: 0;
    }

    .slide-fade-leave-to {
        transform: translateY(-50px);
        opacity: 0;
    }

    .closed .vertical {
        transition: all 0.1s ease-in-out;
        transform: rotate(-90deg);
    }

    .closed .horizontal {
        transition: all 0.1s ease-in-out;
        transform: rotate(-90deg);
        opacity: 1;
    }

    .circle-plus.opened {
        opacity: 1;
    }

    .circle-plus.opened .vertical {
        transition: all 0.1s ease-in-out;
        transform: rotate(90deg);
    }

    .circle-plus.opened .horizontal {
        transition: all 0.1s ease-in-out;
        transform: rotate(90deg);
        opacity: 0;
    }

    .circle-plus {
        display: inline-block;
        font-size: 1em;
        opacity: .7;
        width: 1.5em;
        height: 1.5em;
    }

    .circle-plus .circle {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        /*border: solid .5em #DFDAD7;*/
    }

    .circle-plus .circle .horizontal {
        position: absolute;
        background-color: red;
        width: 15px;
        height: 5px;
        left: -12%;
        top: 35%;
        /*margin-left: -0.21em;*/
        /*margin-top: -0.15em;*/
    }

    .circle-plus .circle .vertical {
        position: absolute;
        background-color: red;
        width: 5px;
        height: 15px;
        left: 18%;
        margin-left: -2.5px;
        top: 30%;
        margin-top: -0.21em;
    }

    header[data-toggle="timingpopover"] {
        cursor: help;
    }
</style>