<template>
    <div id="app">
        <div class="topbar container-fluid shadow-sm py-1">
            <div class="row">
                <div class="col-12">
                    <img class="logo align-middle mr-2" alt="Degoos Logo" src="./assets/degoos-logo.png">
                    <h1 class="align-middle">Degoos' Timings Report</h1>
                </div>
            </div>
        </div>
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        name: 'app',
    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2C3E50;
    }

    .topbar .logo {
        display: inline-block;
        width: 95%;
        max-width: 75px;
    }

    .topbar h1 {
        display: inline-block;
    }
</style>
